body{
	margin: 0px;
}
.Imagenes table{
	table-layout: fixed;
	margin:auto;
	text-align: center;
	font-family: cambria;
	font-size:20px;
	content: center;
}
#logo{
	position: absolute; top:16px; left: 175px; width: 109px; height: 39px;
}
.portada{
  padding: 26px;
	background-color: #253752;
	opacity: 0.94;
	font-size:25px;
	color:#FFFFFF;
  font-family: cambria;
  word-spacing: 12px;
}
.entradas{
  padding: 22px;
  background-color: #253752;
  opacity: 0.94;
  font-family: cambria;
  text-align: center;
  word-spacing: 12px;
  padding-left: 150px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
 .salida{
	padding: 10px;
	background-color: #6C6968;
  font-family: cambria;
  font-size: 17px;
  color:#FFFFFF;
  margin:0px;
}
a:link, 
a:visited{
	text-decoration: none;	
	font-size:25px;
	color:#FFFFFF;
	font-family: cambria;
}
a:hover{
	text-decoration: none;	
	font-size:22px;
	color:#FFFFFF;
  	font-family: cambria; 
}
h1{
  	font-family: cambria;
  	margin-bottom: 0px;
}
input[type = buscar]{
	width: 100px;
	transition: width 0.4s ease-in-out;
}
input[type = buscar]:focus{
  width: 12%;
  outline: none; 
}
ul{
	font-family: cambria;
	font-size: 20px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
